<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_HOST} ^bewertung\.auctiora\.com$ [OR]
RewriteCond %{SERVER_PORT} !^443$
RewriteRule ^(.*)$ https://auctiora.com%{REQUEST_URI} [L,R=301]
</IfModule>
